
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fonte-principal;
    src: url(BaiJamjuree-Regular.ttf);
    font-weight: normal;
}

:root {
    --ciano: hsl(171, 66%, 44%);
    --azul: hsl(233, 100%, 69%);
    --texto: hsl(210, 10%, 33%);
    --sub-texto: hsl(201, 11%, 66%);
}

body {
    font-family: fonte-principal;
    background-image: url(bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    padding: 0 20px;
}

h2 {
    text-align: center;
    color: var(--texto);
    font-size: 1.4em;
}

p {
    color: var(--sub-texto);
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    padding: 15px 0px 30px 0px;
}

header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    margin-bottom: 20px;
}

header h1 {
    margin: 10px 0px;
    color: var(--texto);
    font-weight: 700;
    font-size: 1.5em;
}

button {
    padding: 15px 80px;
    border-radius: 30px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    font-family: fonte-principal;
    font-size: 16px;
}

.button-ios {
    margin: 25px 0px;
    background-color: var(--ciano);
    color: white;
}

.button-mac {
    background-color: var(--azul);
    color: white;
}

.section-desktop {
    margin-bottom: 80px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-desktop img {
    width: 300px;
    padding: 30px 0px;
}

.section-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-mobile img {
    width: 360px;
    margin-bottom: 50px;
}

.section-mobile div {
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1em;
}

.section-mobile div img {
    width: 40px;
    
}

.section-logos {
    margin: 30px 0px 20% 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section-logos img {
    width: 130px;
}

.section-final {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 80px;
}

footer {
    background-color: rgba(211, 211, 211, 0.397);
    color: var(--texto);

    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3em;
}

footer .logo-footer {
    width: 60px;
    padding: 30px 0;
}

footer div img{
    padding: 0 20px;
    cursor: pointer;
}