@media screen and (min-width:1200px) {

    h2 {
        font-size: 1.8em;
    }

    p{
        font-size: 1.1em;
    }

    body {
        background-image: url(bg-header-desktop.png);
    }

     header h1{
        font-size: 2em;
    }

    button {
        font-size: 18px;
    }

    .area-button {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .button-mac {
        margin: 25px 0px;
    }
}