@media screen and (min-width:1200px) {

    h2 {
        font-size: 1.8em;
    }

    p{
        font-size: 1.1em;
    }

    .subtexto {
        font-size: 1.4em;
    }

    body {
        background-image: url(bg-header-desktop.png);
    }

     header h1{
        font-size: 2em;
    }

    button {
        font-size: 18px;
        transition: box-shadow 0.3s;
    }

    .area-button {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .button-mac {
        margin: 25px 0px;
    }

    .section-desktop {
        margin-bottom: 150px;
        height: 800px;
        
        display: grid;
        grid-template-columns: 1fr 800px;
        grid-template-rows: 3fr repeat(4, 1fr);
    }

    .section-desktop .topic-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .section-desktop .topic-1 p {
       max-width: 600px;
       margin: 0 auto;
       padding: 10px 0;
    }

    .section-desktop img {
        position: relative;
        right: 50px;
        margin-top: 30px;
        
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        width: 40vw;
    }

    .section-desktop .topic-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

     .section-desktop .topic-3{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
     
    .section-desktop .topic-4 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .section-mobile img {
        width: 40vw;
    }

    div.list-mobile {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.list-mobile div {
        line-height: 1.5em;
    }

    .section-logos {
        display: grid;
        grid-template-columns:repeat(5, 1fr);
        justify-items: center;
        margin: 150px 0px;
    }

    footer {
        max-height: 120px;

        display: grid;
        grid-template-columns: repeat(4, 1fr) 2fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    footer img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .link-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

     .link-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
     .link-3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
     .link-4 {
        grid-column: 3 / 4;
        grid-row: 2/ 3;
    }
     .link-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    footer .icones {
        position: relative;
        top: 50%;
    }
}
